<style>
	h1 {
	    <!-- Почему-то самый первый раздел не читается -->
	}
	h1 {
	    color: red;
		margin-left: 500px;
	    font-size: 50px;
	}
    h2  {
	    color: blue;
		margin-left: 600px;
		font-family: Comic sans ms;
	}
	p {
	    color: white;
	}
	table {
		background-color: gray;
		border: solid 2px;
		border-collapse: collapse;
	}
	table th, td {
		border: solid 3px;
	}
	blockquote {
		font-family: comic sans ms;
		color: yellow;
	}
	body {
		background: url('../img/background2.png');
	}
	nav, table {
		background-color: gray
	}
	#review {
		width: 50%;
    }
	img {
		border: solid 2px;
	}
	.beginning {
		background-color: green;
	}
	a[href="https://vk.com/andreman_461"] {
		color: red;
	}
	input[type="review"] {
		height: 50px;
	}
	#title_table {
		color: red;
		font-size: 50px;
		font-family: Comic sans ms;
	}
	#title_tabl_sect {
		color: yellow;
		font-size: 20px;
		font-family: Arial;
	}
	.beginning, .table {
		text-align: center;
	}
</style>
